@font-face {
    font-family: 'Young Serif';
    src: url('resources/YoungSerif-Regular.otf');
}

@font-face {
    font-family: 'Work Sans';
    src: url('resources/Work-Sans-1.6/fonts/webfonts/woff2/WorkSans-Regular.woff2')
}

html,
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    color: black;
    font-size: 30px;
}

html {
    margin: 0px;
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    min-height: 100%;
    width: 100%;
}

h1 {
    font-family: "Young Serif", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 3em;
    text-align: right;
    padding: 10px;
    /*    border: 1px solid;
    box-shadow: 6px 10px;
    background-color: #84ffa8;*/
}

h3 {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 5px;
    background-color: #84ffa8;
}

p {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
}

input,
select,
textarea {
    font-size: 20px;
    font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
    border-radius: 3px;
}

.clearfix {
    overflow: auto;
}

#main {
    padding: 10px;
    margin: 10px;
    width: 900px;
}

#main>form {
    float: left;
}

.flexContainerColumn {
    display: flex;
    flex-direction: column;
}

.flexContainerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*align-items: stretch;*/
}

.flexRight {
    align-self: flex-end;
}

.flexCenter {
    align-self: center;
}

.flexFill {
    flex: 1;
}

#sign-up {
    flex: 1;
}

.startButton {
    font-family: "Young Serif", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 80px;
    background-color: white;
    border-radius: 5px;
    transition: background-color .1s;
    border: none;
    flex: 1;
}

.startButton:hover {
    background-color: orange;
}

#signupButton {
    background-color: #ccffd6;
}

#signupButton:hover {
    background-color: #62ff84;
}

#loginButton {
    background-color: #d3daff;
}

#loginButton:hover {
    background-color: #aab8ff;
}
