html,
body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 20px;
}


input {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 20px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

input[type=button]:hover {
    background-color: #57a55a;
}

input[type=button]:active {
    background-color: #579359;
}

#container>div {
    margin-bottom: 20px;
}

input[type=number]{
    width: 55px;

}

#unregisteredVisitorsContainer{
}

#unregisteredVisitorsContainer > div {
    margin-right: 10px;
}

#unregisteredVisitorsContainer > input{
    background-color: red;
}

#unregisteredVisitorsButton:hover{
    background-color: #e30000;
}

#unregisteredVisitorsButton:active{
    background-color: #d10000;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 75px;
}