html,
body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

input {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 20px 38px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
}

input:hover{
	background-color: #57a55a;
}

input:active{
	background-color: #579359;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 75px;
}